RewriteEngine On

# Redirect /vr to subdomain vr.najmigroup.co
RewriteCond %{HTTP_HOST} ^(www\.)?najmigroup\.co$ [NC]
RewriteCond %{REQUEST_URI} ^/vr(/.*)?$ [NC]
RewriteRule ^vr(/.*)?$ https://vr.najmigroup.co$1 [R=301,L]